<!--

    Create module - Create module inside the ioChem-BD software.
    Copyright © 2014 ioChem-BD (contact@iochem-bd.org)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->
<?page title="Supporting information report" contentType="text/html;charset=UTF-8"?>
<window id="customReportWindow" border="none" xmlns:n="native" apply="cat.iciq.tcg.labbook.zk.composers.reportmanager.ReportSupportingInformation">
	<n:h5>Supporting information</n:h5>
	<div sclass="row">		
		<div class="col-md-12">
			 <div class="form-group">
			    <n:label>Energy type:</n:label>
				<div>
					<label id="unavailableEnergyLbl" value="N/A" sclass="ml-2"/>								
					<groupbox sclass="ml-2">
						<radiogroup id="energyTypeRdg">
							<radio id="potentialEnergyRad" 		label="Potential Energy" 		visible="false" 	value="POTENTIAL"/>
							<radio id="freeEnergyRad" 			label="Gibbs Energy"  			visible="false"		value="FREE"/>
							<radio id="zeroPointEnergyRad"		label="Zero Point Energy Corrected" visible="false" value="ZERO_POINT"/>
							<radio id="enthalpyEnergyRad"		label="Enthalpy"		 		visible="false"		value="ENTHALPY"/>
							<radio id="bondingEnergyRad"		label="Bonding Energy" 			visible="false"		value="BONDING"/>
							<radio id="nucRepulsionEnergyRad"	label="Nuc. Repulsion Energy" 	visible="false"		value="NUCREPULSION"/>					
						</radiogroup>
					</groupbox>				
				</div>			    
			 </div>
			 <div class="form-group">
			    <n:label>Default Units::</n:label>
				<div>
					<groupbox sclass="ml-2">
						<radiogroup id="energyUnitsRdg">
							<radio id="energyUnitsKcalMolRad" 	label="kcal/mol"	value="nonsi2:kcal.mol-1"	sclass="energy-rd" />
							<radio id="energyUnitsKJMolRad" 	label="kJ/mol" 		value="nonsi:kj.mol-1"	sclass="energy-rd" />
							<radio id="energyUnitsEVRad" 		label="eV"  		value="nonsi:electronvolt"	sclass="energy-rd"/>
							<radio id="energyUnitsHartreeRad"   label="Eh"			value="nonsi:hartree"	sclass="energy-rd" />
						</radiogroup>
					</groupbox>
				</div>    
			 </div>
			 <div class="form-group">
			    <n:label>File format::</n:label>
				<div id="fileFormatLbl">								
					<groupbox sclass="energy-rd ml-2">
						<radiogroup id="fileFormatRgp"></radiogroup>
					</groupbox>									
			 	</div>
			 </div>
		</div>
	</div>								
</window>
