#main-content {
    max-width: 600px;
}

.iochembd-banner {
    min-height: 300px;
    background-color: #fff !important;
    width: 100%;
}


.iochembd-banner-small{
    min-height: 200px;
    background-color: #fff !important;
    width: 100%;
}

.login-section {
    flex: 1 1 auto;
}



.header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    color: white;
}

.inner-header {
    height: 25vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.inner-header-small {
    height: 6vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}


.svg-container svg {
    width: 100%;
    /* Make SVG responsive */
    height: auto;
    /* Maintain aspect ratio */
}



.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 3rem;
    }

    .svg-container {
        width: 100%;
        /* Full width for smaller screens */
        text-align: center;
        /* Center the content for smaller screens */
        margin-bottom: 1rem;
        /* Add some space between the SVG and text */
    }


    .mdc-top-app-bar--fixed-adjust {
        padding-top: 0px;
    }
}


.logo-iochembd{
  max-width: 400px;
  height: auto;
  padding: 30px;
  margin: 0;
}