<!--

    Create module - Create module inside the ioChem-BD software.
    Copyright © 2014 ioChem-BD (contact@iochem-bd.org)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->
<!-- 
     Molden Jsmol viewer html file.  
     This html template loads jsmol and then requests an URL that will provide the desired molden file.
     Parameters passed from the parent document: 
        j2sPath: Path to jsmol j2s folder 
        moldenOrbitalUrl: base url of the molden service 
-->

<div id="jsmolOrbitalTddft" class="card">    
    <div class="card-header">
        <span class="h4 float-left">Molden orbital viewer</span>                                            
        <span data-effect="fadeOut" class="float-right" onclick="javascript:closeOrbitalTddftCard()" style="cursor: pointer;"><i class="fa fa-times"></i></span>
    </div>
    <div class="card-body">                                            
        <h6 class="card-subtitle mb-2 form-inline">
            <span id="orbitalFileSelectLabel">No orbital from </span>
            <select id="orbitalFileSelect" name="orbitalFileSelect" onchange="javascript:orbitalFileChanged()" class="form-control ml-2">
                <option value="-1">Select molden file</option>                                            
            </select>                                                
        </h6>
        <div id="jsmolOrbitalTddftDiv" class="d-flex flex-row justify-content-center">
            <script type="text/javascript">                                                    
                /* Read available molden files and populate orbitalFile select */
                $(document).ready(function(){
                    $('#jsmolOrbitalTddft').hide();
                    $.ajax({
                        url: moldenOrbitalUrl
                    }).done(function(result) {
                        moldenObjects = result;
                        $.each(moldenObjects, function(index, value) {
                            $('select[name="orbitalFileSelect"]').append($('<option></option>').attr('value', index).text(value['filename']));
                        });
                        if(moldenObjects.length == 1)
                            $('select[name="orbitalFileSelect"]').find('option[value="0"]').attr("selected",true);
                        });                 
                });   
                
                $(window).resize(function() {
                    clearTimeout(window.refresh_size_molden);
                    window.refresh_size_molden = setTimeout(function() { update_size_molden(); }, 250);
                });
                
                function update_size_molden() {
                    $('#viewMoldenDiv').css('top', 20);
                    $('#viewMoldenDiv').css('left', 'auto');
                    $('#viewMoldenDiv').css('right', 20);
                }
                
                /* Setup jsmol and other side actions */            
                delete Jmol._tracker;
                Jmol._local = true;
                
                var moldenObjects = null;                                                                                                       
                var jsmolOrbitalApplet0 = null;
                var orbitalLabel = null;                
                
                jmolOrbital_isReady = function(applet) {		
                    Jmol.resizeApplet(jsmolOrbitalApplet0, ["90%","90%"]);
                }	
                
                var jmolInfoMolden = {
                    width: 100,
                    height: 100,
                    debug: false,
                    color: "0xF0F0F0",
                    use: "HTML5",
                    j2sPath: j2sPath,
                    readyFunction: jmolOrbital_isReady,                                                        
                    disableJ2SLoadMonitor: true,
                    disableInitialConsole: true,
                    allowJavaScript: true,
                    console: "none",
                    script: "background white; vibration off; vectors off; sync on;"
                }
                               
                function displayMoldenOrbital(label) {
                    orbitalLabel = label;
                    updateOrbitalLabelText();                                                        
                    if(orbitalLabel == null)
                    return;
                    
                    $('#jsmolOrbitalTddft').show();
                    if(jsmolOrbitalApplet0 == null){
                        // Init jsmol
                        jsmolOrbitalApplet0 = Jmol.getApplet("jsmolOrbitalApplet0", jmolInfoMolden);
                        $('#jsmolOrbitalTddftDiv').html(Jmol.getAppletHtml(jsmolOrbitalApplet0));
                        //Jmol.resizeApplet(jsmolOrbitalApplet0, ["90%","90%"]);
                        $( "#jsmolOrbitalTddft" ).draggable();
                    }
                    // Compose orbital url and load on jsmol 
                    if( $('select[name="orbitalFileSelect"]').prop('selectedIndex') != 0){
                        var selectedIndex = $('select[name="orbitalFileSelect"]').val();
                        var file = moldenObjects[selectedIndex]['filename'];
                        var moldenUrl = null;
                        if(moldenObjects[selectedIndex].hasOwnProperty('bitstreamId')){     // Browse module call
                            var bitstreamId = moldenObjects[selectedIndex]['bitstreamId'];
                            moldenUrl =  moldenOrbitalUrl + '&#63;file=' + file + '&amp;label=' + orbitalLabel  +'&amp;bitstream=' + bitstreamId;
                        } else {                                                            // Create module call                            
                            moldenUrl =  moldenOrbitalUrl + '&amp;file=' + file + '&amp;label=' + orbitalLabel;
                        }                                             
                        Jmol.script(jsmolOrbitalApplet0,"load "+ moldenUrl + " ; set platformSpeed 2;isosurface mo 1 cutoff 0.05; wireframe on;color cpk;cpk off;color isosurface translucent");
                    }                   
                }
                
                
                function clearJsmolOrbitalApplet() {
                    if(jsmolOrbitalApplet0 != null) 
                        Jmol.script(jsmolOrbitalApplet0,"delete *;mo delete; isosurface off;");
                }
                
                function closeOrbitalTddftCard() {
                    clearJsmolOrbitalApplet();
                    $('#jsmolOrbitalTddft').hide();                                                            
                }  
                
                function orbitalFileChanged() {
                    clearJsmolOrbitalApplet();
                    displayMoldenOrbital(orbitalLabel);
                }
                
                function updateOrbitalLabelText() {
                    if(orbitalLabel == null)
                        $('#orbitalFileSelectLabel').html('No orbital from ');
                    else 
                        $('#orbitalFileSelectLabel').html('Orbital ' + orbitalLabel + ' from ');                                                    
                }                                                    
            </script>
        </div>
    </div>
</div>