<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DSpace OAI-PMH Data Provider</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script th:src="@{/static/js/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/bootstrap.min.js}" type="text/javascript"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap-theme.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/static/css/style.css}" type="text/css"/>
</head>
<body>
<div class="container">

    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">DSpace OAI-PMH Data Provider</a>
        </div>
        <div class="navbar-collapse collapse">

        </div><!--/.nav-collapse -->
    </div>

    <div class="alert alert-danger text-center">
        Invalid context
    </div>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="row-fluid">
        <h2>Available Contexts</h2>
        <div class="list-group xoai-contexts">
            <div class="list-group-item" th:each="item : ${contexts}">
                <h4 class="list-group-item-heading" th:text="${item.name} + (${item.description} ? ' ' + ${item.description} : '')"></h4>
                <p class="vertical-space"></p>
                <p class="list-group-item-text">
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-default" th:href="@{'/' + ${item.baseUrl}} + '?verb=Identify'">Identify</a>
                        <a class="btn btn-default" th:href="@{'/' + ${item.baseUrl}} + '?verb=ListSets'">List Sets</a>
                        <a class="btn btn-default" th:href="@{'/' + ${item.baseUrl}} + '?verb=ListMetadataFormats'">List Metadata Formats</a>
                        <a class="btn btn-default" th:href="@{'/' + ${item.baseUrl}} + '?verb=ListIdentifiers&amp;metadataPrefix=oai_dc'">List Identifiers</a>
                        <a class="btn btn-default" th:href="@{'/' + ${item.baseUrl}} + '?verb=ListRecords&amp;metadataPrefix=oai_dc'">List Records</a>
                    </div>
                </p>
            </div>
        </div>
    </div>

    <div class="row-fluid text-center">
        <div class="vertical-space"></div>
        <p><small>Design by Lyncode</small></p>
        <p>
            <a href="http://www.lyncode.com">
                <img style="height: 20px;" th:src="@{/static/img/lyncode.png}" alt="Lyncode"/>
            </a>
        </p>
    </div>

</div> <!-- /container -->
</body>
</html>