.periodic-table{
    width: 600px;
    display: flex;
    flex-direction: column;
}
.period{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    margin-top: 2px;                              
}

.period:nth-child(8){
	margin-top: 20px;	
}
.atom{
    background-color: #AAA;
    flex-shrink: 1;
    flex-grow:1;     
    min-width: 22px;
    min-height: 30px;                            
    text-align: center;
    margin-left: 2px;
    line-height: 30px;
    flex-basis:40px;
}
.atom:hover{
    background-color: #ff7575;                            
    outline-style: solid;
    border-color: #CCC;                           
 }

 .atom-selected{
	background-color: #ffff75 !important;
    outline-style: solid !important;
    border-color: #CCC !important;
}
.innercell{
    vertical-align: middle;
    cursor: crosshair;
}

.empty{                        
    flex-shrink: 1;
    flex-grow:1;
    min-width: 22px;
    min-height: 30px;                            
    text-align: center;
    line-height: 30px;
    margin-left: 2px;
    flex-basis:40px;
}

.cat0{
    background-color: #FFF;    
}
.cat1{
    background-color: #00fe54;
}
.cat2{
    background-color: #ffd05d;    
}
.cat3{
    background-color: #ffff6a;
}
.cat4{
    background-color: #e2c2c2;    
}
.cat5{
    background-color: #7adf98;
}
.cat6{
    background-color: #abe3d5;    
}
.cat7{
    background-color: #00efd2;
}
.cat8{
    background-color: #76cffc;    
}
.cat9{
    background-color: #ffc2a6;
}
.cat10{
    background-color: #f3c3e0;
}
