<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.success.header}">Generic Success View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content" class="d-flex justify-content-center">                    
        <div class="d-flex justify-content-center flex-md-column flex-column mdc-card mdc-card-content card flex-grow-1">
            <section id="iochembdBanner" class="iochembd-banner-small">
                <div class="header">
                    <div class="inner-header-small flex text-focus-in" style="flex-direction: column;">
                        <div class="logo">
                            
                        </div>
                    </div>
                    <div class="svg-container"> 
                        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                        <defs>
                        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                        </defs>
                        <g class="parallax">
                        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255, 255, 255, 0.7" />
                        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255, 255, 255, 0.5)" />
                        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255, 255, 255, 0.3)" />
                        <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(255, 255, 255)" />
                        </g>
                        </svg>
                    </div>
                </div>
            </section>
            <section class="login-section login-form card-body">
                <h2>
                    <i class="mdi mdi-door-open fas fa-door-open"></i>
                    <span th:utext="#{screen.success.header}">Log In Successful</span>
                    <span id="principalId" th:utext="${authentication.principal.id}" style="display:none;"/>
                </h2>                
                <p th:utext="#{screen.success.success(${authentication.principal.id})}">You, <strong>username</strong>, have successfully logged into the Central Authentication
                    Service.
                    However, you are seeing this page because CAS does not know about your target destination and how
                    to get you there. Examine the authentication request again and make sure a target service/application that is authorized and registered with CAS is specified.
                </p>

                <div class="d-flex justify-content-around flex-md-row flex-xl-row flex-sm-column">
                    <a class="mdc-button mdc-button--raised btn btn-primary btn-primary mb-sm-3" href="/create">Create module</a>
                    <a class="mdc-button mdc-button--raised btn btn-primary btn-primary" href="/browse/mydspace">Browse module</a>                                        
                </div>
                <p th:utext="#{screen.success.security}">
                    When you are finished, for security reasons, please <a href="logout">log out</a> and exit your web browser.
                </p>
            </section>
        </section>
        </div>
    </div>
</main>
</body>
</html>
