<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{cas.login.pagetitle}">CAS Login View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>

</head>

<body class="login mdc-typography">
<div layout:fragment="content" class="d-flex justify-content-center">

   <div class="d-flex justify-content-center flex-md-column flex-column mdc-card mdc-card-content card flex-grow-1"
         th:with="loginFormEnabled=${#strings.defaultString(#themes.code('cas.login-form.enabled'), 'true') == 'true'},
                  loginFormViewable=${@casThymeleafLoginFormDirector.isLoginFormViewable(#vars)}">                  
        <section id="iochembdBanner"
                 class="iochembd-banner">
            <div class="header">
                <div class="inner-header flex text-focus-in" style="flex-direction: column;">
                    <div class="logo">
                        <img class="logo-iochembd" src="themes/iochembd/images/logo-iochembd-white.png" alt="ioChem-BD Logo">
                    </div>
                </div>
                <div class="svg-container"> 
                 <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255, 255, 255, 0.7" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255, 255, 255, 0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255, 255, 255, 0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(255, 255, 255)" />
                    </g>
                    </svg>
                </div>
            </div>
        </section>                  
        <section id="loginForm"
                 th:if="${loginFormViewable and loginFormEnabled}"
                 class="login-section login-form card-body">
            <div th:replace="fragments/loginform :: loginform">
                <a href="fragments/loginform.html">Login Form goes here</a>
            </div>
        </section>
        
        <span th:if="${#bools.isFalse(delegatedAuthenticationDynamicProviderSelection) && #bools.isFalse(delegatedAuthenticationDisabled)}">
            <section id="loginProviders" class="login-section login-providers card-body"
                    th:if="${delegatedAuthenticationProviderConfigurations} OR ${wsfedUrls}">
                <div th:replace="fragments/loginProviders :: loginProviders">
                    <a href="fragments/loginProviders.html">loginProviders</a>
                </div>
            </section>
        </span>        
        <section id="acceptto" class="login-section login-qr d-xs-none d-md-block" th:if="${accepttoApplicationId}">
            <div th:replace="fragments/accepttoQRCode :: accepttoQRCode">
                <a href="fragments/accepttoQRCode.html">accepttoQRCode</a>
            </div>
        </section>
        <section id="qrlogin" class="login-section login-qr d-xs-none d-md-block card-body" th:if="${qrAuthenticationEnabled}">
            <div th:replace="fragments/qrAuthentication :: qrAuthentication">
                <a href="fragments/qrAuthentication.html">qrAuthentication</a>
            </div>
        </section>
    </div>
</div>
</body>

</html>
