.navbar {
    background-color: #007AA3;    
}

a {
   color: #007AA3;
   /*  font-size:1.2em;*/
   font-weight:500;
}

.badge {
   background-color: #007AA3;
}

.alert-info {
  background-color: #007AA3;
  border-color: #005471;
}

div.panel-heading > a.pull-left,
div.panel-heading > a.pull-right {
    color: #ffffff;
}

div.panel-footer > a.pull-left,
div.panel-footer > a.pull-right {
    color: #000000;
}

.pagination > li > a, .pagination > li > span {
  color: #696969;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #696969;    
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #007AA3;
}

.panel-success > .panel-heading {
  background-color: #317D4D;
    
}

.panel-info {
  border-color: #005471;
}

.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #007AA3; 
}

.panel-info > .panel-heading {
  background-color: #007AA3;
  border-color: #005471;
}

.submitFormHelp {
  background-color: #007AA3;
  border-color: #005471;
} 

.copyrightText {
  color: #525252;  
  margin-top: 10px;  
}

code > div > pre {
    background-color: #fff;
}

.btn-primary {
  color: #ffffff;
  background-color: #007AA3;
  border-color: #0079a1;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #666666;   
}

.emptyNode > span {
  color: #666666 !important;
}

span.nodeText.nodeSelected{
  color: #007AA3;
}

.list-group-item-heading {
  color: #007AA3;
  font-weight:500;   
}

span.nodeText{
  color: #007AA3;
}

#mainDiv {
	margin-top: 10px;
}

#content {
    padding-top: 65px;
    padding-bottom: 0px;    
}

#moldenIframe{
	border: none;
}

.discovery-result-pagination{
	margin-left: 0px !important;
	margin-right: 0px !important;
}

footer.navbar-custom{
	border-top: 1px;
    border-color: rgba(0, 140, 186, 0.18);
    border-top-style: solid;
}

div.discovery-search-appliedFilters input.btn{
		
}

div.discovery-search-appliedFilters input.btn{
	
}

div.discovery-search-appliedFilters input[type='submit']{
	
}

.ui-accordion .ui-accordion-content{
	padding: 0px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
	color: #000;
}

.discovery-search-form{
	background-color: transparent;
}

#searchFormDiv div.discovery-search-form{
	background-color: transparent;
	border-color: transparent;
}

#searchFormDiv div.discovery-search-form div.discovery-query{
	background-color: transparent;
}

.discovery-pagination-controls{
	background-color: transparent;
}

.jsmol-border{	
    border-color: #CCC;
    border-width: 2px;
    border-style: solid;    
}

td[headers~='t1']{
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

table.itemDisplayTable > tbody > tr > td.metadataFieldLabel {
	word-break: break-all;
	white-space: normal;
}

table.itemDisplayTable > tbody > tr > td.metadataFieldValue {
	word-break: break-all;
	white-space: normal;
}

#moldenIframe{
	border:none;
	padding:0px;
	width:100%;
	height: 560px;
}

.collectionJournalDescription{
	padding-top:1em;
}

.collectionJournalLine {
	text-indent: -1em;
}

.modeSelectorDiv {
	
}

.img.placeholder {
    background-image:url('/browse/image/loginrequired.png');
}

.codeSnippetsDiv {
    padding-bottom: 20px !important;
    display: flex; 
	flex-direction: row;    
}

.codeSnippetDiv { 
    margin-right: 10px;    
}
 
.code-snippet-logo {
 	width: 50px !important;
 	height: 50px !important; 
 	border: 1px #dbdbdb solid;
 	cursor: pointer;
} 

 .modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


#authoreaCode {
	background-color: transparent;
}


.navbar {
    /* 
    min-height: 55px;
    margin-bottom: 36px;
    */
}


.navbar-brand {	
	padding-left: 10px;
	padding-top: 5px;
}
  
.navbar-form .form-control {
    height: auto;
    padding: 6px;
}

.navbar-custom .navbar-nav > li > a {
    color: #ffffff;
    border-left: none;
}

.navbar-nav > li > a, .navbar-brand {
/*     padding-top:4px !important;  */
/*     padding-bottom:0 !important; */
    height: 55px;
}
.navbar {
	min-height:55px !important;
	font-size: 0.95em;
   	font-weight: 400;
}

a.navbar-brand{
	padding-top: 7px;	
}

.navbar-custom .navbar-nav > li:last-child > a {
	border-right: none;
	border-left: 2px solid white;
}

.navbar .dropdown-menu > li > a, .navbar .dropdown-menu > li > a:focus {
    background-color: transparent;
    font-size: 14px;
    font-weight: 300;
}

.navbar-nav > li > a {
    padding-top: 16px;
    padding-bottom: 12px;
}

.navbar .dropdown-menu {
    border: none;
    background-color: white !important;
}

.breadcrumb > li {
    display: inline-block;
    color: #FFF;
    font-weight: bold;
}

.breadcrumb > li + li::before {
    content: "/\00a0";
    padding: 0 5px;
    color: #FFF;
}



.navbar-right {
    float: right !important;
    margin-right: 0px;
}



.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    text-decoration: none;
    color: #262626;
}


.breadcrumb li a {
    color: #FFF;
    font-weight: bold;
}


.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #eeeeee;
    font-weight: 400 !important;
}

.navbar-inverse .dropdown-menu > li > a:hover, .navbar-inverse .dropdown-menu > .active > a, .navbar-inverse .dropdown-menu > .active > a:hover {
    background-color: #eeeeee;
}

div.authorCell em a {
    font-size: 0.9em;
}

div.authorCell {
    line-height: 90%;
}

a.geometryTab {
    max-height: 43px;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.nav-tabs > li.active > a {
	font-weight: bold;
}

