.elementSelected {
  background-color: greenyellow !important;
  color: greenyellow !important;
}
.custom-selected {
  color: red;
}

.toastContainer {
  position: fixed;
  bottom: 16px;
  right: 16px;
  max-width: 300px;
  z-index: 1000;
  pointer-events: none;
}

.toast {
  background-color: #333;
  color: #fff;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


.pill {
  background-color: #ddd;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.pill:hover {
  background-color: #ccc;
}

.pill span {
  margin-left: 5px;
  border-radius: 5px;
  padding: 2px;
}
.pill .delete-icon {
  cursor: pointer;
}





.ui-autocomplete .ui-menu-item {
  color: #000; 
  background-color: #fff;
  cursor:pointer;
}
.btn-modal {
  right: 5px;
  position: absolute;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 100%;
}


.hide-element {
  z-index: 1;
}

.show-element {
  z-index: 999999999;
}

.ui-autocomplete {
  max-height: 120px;
  overflow-y: auto;
  overflow-x: hidden;
}

#containerMolecular {

  height:100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 4%;
}

.nodes2 {
  background-color: orange;
}

.elementSelected {
  background-color: greenyellow ;
  line-color:yellow;
}